/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Noto+Sans+JP:wght@400;500;600;700&family=Noto+Sans+Arabic:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;600;700&display=swap");

/* Tailwind と Figma由来のテーマを適用 */
@import "./tailwind.css";
@import "./theme.css";
